<html>
    <body>
        <form th:action="@{/createUser}" th:object="${user}" method="POST" >
            <input type="text" placeholder="Nombre" th:field = "${user.nombre}"/>
            <input type="text" placeholder="Apellido" th:field = "${user.apellido}"/>
            <input type="Submit" th:value="'Nuevo Usuario'"/>
        </form>

        <br>
        <br>

        <table border="2">
            <thead border="2">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>PROCESADO</th>
                <th>Seleccionar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.nombre}"></td>
                <td th:text="${user.apellido}"></td>
                <td th:text="${user.procesado}"></td>
                <td><a th:href="@{'/selecUser/'+ ${user.id}}">Seleccionar</a></td>
            </tr>
            </tbody>
        </table>

        <br>
        <br>

        <form th:action ="@{/updateUsers}" >
            <input type="Submit" th:value="'PROCESAR'"/>
        </form>

        <br>
        <br>

    </body>
</html>